:root {
  --bg: #e6e9ef;
  --accent-bg: #eff1f5;
  --text: #4c4f69;
  --text-light: #6c6f85;
  --border: #9ca0b0;
  --accent: #dd7878;
  --accent-hover: #e28e8e;
  --accent-text: var(--accent-bg);
  --code: #d20f39;
  --preformatted: #5c5f77;
  --marked: #df8e1d;
  --disabled: #dce0e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #292c3c;
    --accent-bg: #303446;
    --text: #c6d0f5;
    --text-light: #a5adce;
    --border: #737994;
    --accent: #eebebe;
    --accent-hover: #f3d3d3;
    --accent-text: var(--accent-bg);
    --code: #e78284;
    --preformatted: #b5bfe2;
    --marked: #e5c890;
    --disabled: #232634;
  }
}
