:root {
  color-scheme: dark;
  --bg: #1e2030;
  --accent-bg: #24273a;
  --text: #cad3f5;
  --text-light: #a5adcb;
  --border: #6e738d;
  --accent: #ee99a0;
  --accent-hover: #f2b0b6;
  --accent-text: var(--accent-bg);
  --code: #ed8796;
  --preformatted: #b8c0e0;
  --marked: #eed49f;
  --disabled: #181926;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --bg: #e6e9ef;
    --accent-bg: #eff1f5;
    --text: #4c4f69;
    --text-light: #6c6f85;
    --border: #9ca0b0;
    --accent: #e64553;
    --accent-hover: #e95d68;
    --accent-text: var(--accent-bg);
    --code: #d20f39;
    --preformatted: #5c5f77;
    --marked: #df8e1d;
    --disabled: #dce0e8;
  }
}
